name: Reusable Spring Boot Deploy

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string
      image-name:
        required: true
        type: string
      deployment-name:
        required: true
        type: string
      container-name:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./gradlew clean :${{ inputs.service-name }}:bootBuildImage \
          --imageName="${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.image-name }}:latest" \
          -Dspring.boot.build-image.publish=true

      - name: Deploy to Kubernetes
        run: |
          kubectl set image deployment/${{ inputs.deployment-name }} \
          ${{ inputs.container-name }}=${{ secrets.DOCKERHUB_USERNAME }}/${{ inputs.image-name }}:latest
          
          kubectl rollout restart deployment/${{ inputs.deployment-name }}

      - name: Verify deployment
        run: kubectl rollout status deployment/${{ inputs.deployment-name }}